extends layout-2 
block layout-content-2 
 .main-content-2 
  section#about 
    h2.heading About us 
    p Welcome to Blossom Boutique, where passion meets petals. Since our inception in 2023, we have been dedicated to bringing you the freshest and most exquisite floral arrangements. Located in the heart of the city, our shop is a haven for flower enthusiasts and those looking to add a touch of nature's beauty to their lives.
    p Our skilled florists use their expertise and creativity to craft stunning bouquets and arrangements for every occasion. Whether you're celebrating a birthday, anniversary, or any special moment, we have the perfect flowers to convey your sentiments.
    p At Blossom Boutique, we believe in sustainability and eco-friendly practices. We source our flowers from local growers and use environmentally friendly packaging to ensure that your floral gift is not only beautiful but also kind to the planet.
    p Our team is committed to providing exceptional customer service. From helping you choose the right flowers to creating custom arrangements that reflect your personal style, we are here to make your floral experience unforgettable.
    p Thank you for choosing Blossom Boutique. We look forward to being a part of your cherished moments and bringing joy to your life with our flowers.

    #team 
      h3 Our Team 
      .members
        .team-member
          img(src="./images/team-member-1.jpg", alt="team-member-1")
          //- https://images.unsplash.com/photo-1534614610-e8515f281a37?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cG9ydGFpdCUyMG9mJTIwd29tYW58ZW58MHwxfDB8fHww
          h4 Anna Smith 
          p Lead Florist
        .team-member
          img(src="./images/team-member-2.jpg", alt="team-member-2")
          //- https://images.unsplash.com/photo-1590086782792-42dd2350140d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D

          h4 John Doe
          p Floral Designer
        .team-member
          img(src="./images/team-member-3.jpg", alt="team-member-3")
          //- https://images.unsplash.com/photo-1668752515680-075bf648d8fa?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBvcnRhaXQlMjBvZiUyMHdvbWFufGVufDB8MXwwfHx8MA%3D%3D
          h4 Emily Johnson
          p Customer Service Manager
    #contact 
      h3 Contact us 
      p We would love to hear from you! Visit us at our store or reach out to us through the following:
      ul
        li Address: 123 Blossom Street, Flower City
        li Phone: (123) 456-7890
        li Email: contact@blossomboutique.com