extends layout
block layout-content 
  .main-content 
    section 
      #nav-main
        .logo 
          a(href="/") Blossom Boutique 
        nav
          ul 
            li 
              a(href="/") Home 
            li 
              a(href="/about") About 
            li 
              a(href="/catalogue") Catalogue 
            li 
              a(href="#") Contact
      div#mainpage-content
        h1.heading Welcome to Blossom Boutique!
        p At Blossom Boutique, we believe in the magic of flowers. Our wide selection of fresh flowers and creative arrangements will add a touch of elegance and beauty to any occasion.
      //- img(src="/images/bg-flower.jpg")
      a(href="/catalogue")#catalogue-link Have a look at our catalogue